@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* {
    font-family: Arimo;
    font-weight: 600;
}

div {
    padding-bottom: 5px;
}

.uber {
    background-color: black;
    height: 40px;
    width: 120px;
    border: none;
    color: white;
    cursor: pointer;
}

.amazon {
    background-color: rgb(255, 216, 20);
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 150px;
    cursor: pointer;
}

.github {
    background-color: rgb(46, 164, 79);
    border: none;
    border-radius: 5px;
    height: 35px;
    color: white;
    width: 80px;
    cursor: pointer;
}

.bootstrap {
    background-color: rgb(121, 89, 179);
    color: white;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 100px;
    cursor: pointer;
}

.bootstrap2 {
    background-color: rgb(230, 230, 230);
    color: rgb(108, 117, 125);
    border-radius: 5px;
    height: 40px;
    width: 100px;
    border: 1px solid rgb(108, 117, 125);
    cursor: pointer;
}

.linkedin {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 200px;
    cursor: pointer;
}

.linkedin2 {
    background-color: white;
    color: rgb(10, 102, 194);
    border: 1px solid rgb(10, 102, 194);
    border-radius: 20px;
    height: 30px;
    width: 60px;
    cursor: pointer;
}

.price {
    color: rgb(0, 118, 0);
}

.amazon1 {
    background-color: rgb(255, 216, 20);
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 150px;
    cursor: pointer;
}

.amazon2 {
    background-color: rgb(255, 164, 28);
    border: none;
    border-radius: 20px;
    height: 30px;
    width: 150px;
    cursor: pointer;
}